[
  {inets,
    [
      {services, [{httpc, []}]}
    ]
  },
  {mnesia,
    [
      {dir, "d:\\home\\test\\mnesia_store"}
    ]
  },
  {cowboy,
    [
      {http_port, 8888}
    ]
  },
  {ranch,
    [
      {up_front_url, "http://localhost:8888/pg/pay_succ"}
      , {up_back_url, "http://localhost:8888/pg/pay_succ_info"}
      , {test_mcht_front_url, "http://localhost:8888/pg/mcht_front_succ"}
      , {test_mcht_back_url, "http://localhost:8888/pg/mcht_back_succ_info"}

    ]
  },
  {payment_gateway,
    [
      {priv_dir, "/priv"}
      , {mcht_keys_dir, "/keys/mcht"}
      , {up_keys_dir, "/keys"}
      , {auth_token_config_file, "auth_token.config"}
      , {up_reconcile_file_dir, "/reconcile_files/up/"}
      , {ums_reconcile_file_dir, "/reconcile_files/ums/"}
      , {mcht_reconcile_file_dir, "/reconcile_files/mcht/"}
      , {db_backup_dir, "/backup.db/"}
      , {simu_mcht_front_url, "http://localhost:8888/pg/simu_mcht_front_succ"}
      , {simu_mcht_back_url, "http://localhost:8888/pg/simu_mcht_back_succ_info"}
      ,
      {up_mer_list,
        [
          {gw_netbank, [<<"898350249000242">>]}
          , {gw_wap, [<<"898350249000240">>]}
        ]},
      {ums_default_mer_list,
        [
          {gw_netbank, [<<"898350248160788">>]}
          , {gw_wap, [<<"898350248160787">>]}
        ]},
      {leptus_port, 8889}
    ]
  },
  {lager,
    [
      {log_root, "d:\\home\\logs"},
      {handlers, [
        {lager_console_backend,
          [debug,
            {lager_default_formatter,
              [date, " ", time
                , " [", severity, "]"
                , {module, [
                module,
                {function, [":", function], ""},
                {line, [":", line], ""}], ""},
                {pid, ["@", pid], ""},
                message
                , "\n"
              ]
            }
          ]
        }
      ]
      },
      {lager_file_backend, [{file, "error.log"},
        {level, error},
        {size, 0},  %% disable log rotate for file size
        {date, "$D0"}
      ]},
      {lager_file_backend, [{file, "debug.log"}, {level, debug}]},
      {lager_file_backend, [{file, "console.log"}, {level, info}]}
    ]},
  {erlcron,
    [
      {crontab,
        [
          %{
          %  {daily, {7, 00, am}},
          %  {cron_tasks, up_reconcile, []}
          %},
          %{
          %  {daily, {7, 30, am}},
          %  {cron_tasks, gen_ums_reconcile_file, []}
          %},
          %{
          %  {daily, {11, 0, am}},
          %  {cron_tasks, load_ums_reconcile_file, []}
          %},
          %{
          %  {daily, {11, 30, am}},
          %  {cron_tasks, gen_mcht_reconcile_file, []}
          %},
          %,
          %{
          %  {daily, {every, {30, sec}, {between, {3, am}, {11, pm}}}},
          %  {io, format, ["hello"]}
          %}

          {
            {daily, {every, {1, hr}, {between, {10, am}, {8, pm}}}},
            {cron_tasks, dump_mnesia, []}
          }


        ]}

    ]}
].
